<div class="flex flex-row justify-between">
	<a
		href="{{signupHref}}"
		target="_self"
		class="hover:underline italic hover:text-blue-600 dark:hover:text-white text-left cursor-pointer"
	>
		{{signup}}
	</a>

	<button
		type="submit"
		class="border-1 px-4 border-solid rounded-md px-1 dark:hover:text-white text-left cursor-pointer"
	>{{login}}</button>
</div>
