<div class="flex flex-row justify-between">
	<a
		el="a"
		onclick="window.location='/signup'+window.location.search;"
		target="_self"
		class="hover:underline italic hover:text-blue-600 text-left cursor-pointer"
	>
		{{register}}
	</a>

	<button
		type="submit"
		class="border-1 px-4 border-solid rounded-md px-1 text-left cursor-pointer"
	>{{login}}</button>
</div>
