<div class="flex flex-row justify-between">
	<a
		el="a"
		href="/signup"
		target="_self"
		class="underline italic text-blue-600 text-left cursor-pointer"
	>
		{{register}}
	</a>

	<button
		type="submit"
		class="border-1 px-4 border-solid text-left cursor-pointer"
	>{{login}}</button>
</div>
