<div class="flex flex-col">
	<div class="mb-5 small:mb-3">
		<div class="flex flex-col w-full h-full">
			{{> header}}

			<div class="flex flex-col grow w-full">
				{{> messageHeader}}
				<div class="h-full flex flex-col grow p-2 border border-1 border-solid rounded-md">
					{{> messageView}}
				</div>
			</div>
		</div>
	</div>

	<div class="h-full w-full flex flex-col overflow-x-hidden">
		{{> messageFeatures}}
	</div>
</div>