<div class="mt-2 max-w-md min-w-3xs w-full grow px-8">
	<div class="mb-4">
		{{> sidebar}}
	</div>

	<form
		action="{{action}}"
		method="POST"
		type="multipart/form-data"
		autoComplete="off"
		class="flex flex-col"
	>
		<div>
			{{> username}}
		</div>

		<div class="mt-2">
			{{> password}}
		</div>

		<div class="mt-2 small:text-xs large:text-md text-sm italic text-red-600 dark:text-red-400">{{error}}</div>

		<div class="mt-4">
			{{> submit}}
		</div>
	</form>
</div>

<div class="mt-2 px-8">
	<script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="{{botUsername}}" data-size="small" data-auth-url="{{{authUrl}}}" data-request-access="write"></script>
</div>