<div class="flex flex-row items-center">
	<a class="italic text-2xl small:text-lg large:text-3xl mr-4 inline-block dark:hover:text-white hover:text-blue-600" href="{{mainHref}}" target="_self">Les Notes</a>

	<div>
		{{> searchForm}}
	</div>
</div>