<div class="flex flex-col">
	<a class="mb-3 italic text-2xl small:text-lg large:text-3xl inline-block cursor-pointer hover:text-blue-600 dark:hover:text-white" href="/{{query}}" target="_self">Les Notes</a>

	<details>
		<summary class="cursor-pointer mb-2">{{settingsHeader}}</summary>
		{{> settings}}
	</details>
</div>