<div class="h-full max-w-full flex flex-row">
	<div class="min-w-fit max-w-fit ml-8">
		{{> sidebar}}
	</div>

	{{#message}}
		<div class="min-w-lg max-w-lg flex flex-row ml-8">
			<div class="h-full flex flex-col grow p-2 mb-2 border border-1 border-solid rounded-md">
				{{> messageView}}
			</div>
		</div>
	{{/message}}


	<div class="ml-8 mr-8 max-w-md min-w-md overflow-x-hidden overflow-y-scroll">
		{{>  filesView}}
	</div>
</div>