{{#title}}
	<h2>{{title}}</h2>
{{/title}}

{{#text}}
	<div class="whitespace-pre">{{text}}</div>
{{/text}}

{{#files}}
	<a class="underline text-blue-600 visited:text-purple-600" href="/files/v1/{{ID}}/download" target="_blank" download="{{name}}">{{name}}</a>
{{/files}}