<div class="flex flex-col">
	<div class="flex flex-row justify-between mb-3">
		<div class="flex flex-row">
			<a class="italic text-2xl small:text-lg large:text-3xl mr-4 inline-block dark:hover:text-white hover:text-blue-600" href="{{mainHref}}" target="_self">Les Notes</a>
		</div>

		<a href="/logout" target="_self" class="underline dark:text-gray-400 dark:visited:text-gray-400 text-blue-600 visited:text-purple-600">{{logout}}</a>
	</div>

	<div class="mb-3">
		{{> searchForm}}
	</div>

	<div>
		<details>
			<summary class="cursor-pointer mb-2">{{settingsHeader}}</summary>
			{{> settings}}
		</details>
	</div>
</div>