<div class="h-full max-h-[300px]">
	<ul class="h-full flex flex-col-reverse overflow-x-hidden max-w-full">
		{{#comments}}
			<li class="max-w-full flex flex-row justfy-between">
				{{{text}}}
			</li>
		{{/comments}}
	</ul>
</div>