<div class="flex flex-col">
	<a class="italic mb-3 text-2xl small:text-lg large:text-3xl inline-block cursor-pointer" href="{{mainHref}}" target="_self">Les Notes</a>

	<details>
		<summary class="cursor-pointer mb-2">{{settingsHeader}}</summary>
		{{> settings}}
	</details>
</div>