<div class="flex flex-row flex-row justify-between dark:bg-slate-600 flex p-2 small:p-1 small:min-h-[30px] min-h-[40px] max-h-40 border border-solid rounded-md">
	<div class="mr-2">
		{{> logout}}
	</div>
</div>