<div>
	<p class="text-xl mb-2">{{filesPlaceholder}}</p>
	<div id="files-list" class="mb-2 mt-2 overflow-hidden whitespace-nowrap text-ellipsis"></div>
</div>

<form id="file-form" name="file-form" autocomplete="off" onsubmit="return false;" class="flex flex-row">
	<input id="files-input" class="hidden" type="file" multiple></input>
	<button id="select-files-button" type="button" class="rounded-md border-1 px-4 border-solid text-left cursor-pointer">{{selectFiles}}</button>
</form>