<div id="content" class="h-full flex flex-row">
	<div id="sidebar" class="min-w-3xs pl-8">
		{{> sidebar}}
	</div>

	<div class="flex flex-row pl-8">
		<div class="flex flex-col grow-2 max-w-5xl min-w-xl max-w-xl">
			<div id="editor" class="flex flex-col grow p-2 mb-2 border border-1 border-solid rounded-md">
				{{#message}}
					{{#editMessage}}
						{{> messageEditForm}}
					{{/editMessage}}
					{{^editMessage}}
						{{> messageView}}
					{{/editMessage}}
				{{/message}}
				{{^message}}
					{{> newMessageForm}}
				{{/message}}
			</div>

			<div id="files">
				{{#message}}
					{{#editMessage}}
						{{> filesForm}}
					{{/editMessage}}
					{{^editMessage}}
						{{> filesList}}
					{{/editMessage}}
				{{/message}}
				{{^message}}
					{{> filesForm}}
				{{/message}}
			</div>
		</div>

		<div class="flex flex-col pl-8">
			<div id="messages" class="mr-2 flex flex-col w-full">
				<div id="messages-list" class="flex flex-row w-full grow overflow-x-auto">
					{{> messagesList}}
				</div>
			</div>
		</div>
	</div>
</div>