<div class="h-full max-w-full flex flex-row">
	<div class="min-w-3xs max-w-3xs ml-8">
		{{> sidebar}}
	</div>

	<div class="flex flex-col overflow-x-hidden ml-8 min-w-md max-w-md">
		{{> navigation}}
		<div class="h-full overflow-y-hidden">
			{{> messagesStack}}
		</div>
		{{> controlPanel}}
	</div>

	<div class="min-w-xl max-w-xl flex flex-row ml-8">
		<div class="flex flex-col grow-2 w-full">
			{{> translations}}
			<div class="flex flex-col grow p-2 border border-1 border-solid rounded-md h-full">
				{{> messageEditForm}}
				{{> messageView}}
				{{> newMessageForm}}
				{{> translationEditForm}}
				{{> translationView}}
				{{> newTranslationForm}}
				{{> threadEditForm}}
				{{> threadView}}
				{{> filesList}}
				{{> pagination}}
				{{> filesForm}}
			</div>
		</div>
	</div>

	<div class="ml-8 mr-8 max-w-md min-w-md overflow-x-hidden">
		{{>  filesView}}
	</div>
</div>