{{#stack}}
	<div class="flex flex-col w-xs min-w-xs max-w-xs first:ml-0 last:mr-8 ml-2">
		{{#ID}}
			<a target="_self" href="/home?cwd={{ID}}" class="mb-2 mt-[2px] ml-[2px] dark:hover:text-white hover:text-blue-600 cursor-pointer underline">
		{{/ID}}
		{{^ID}}
			<a target="_self" href="/home" class="mb-2 mt-[2px] ml-[2px] dark:hover:text-white hover:text-blue-600 cursor-pointer underline">
		{{/ID}}
			{{#title}}
				/{{title}}
			{{/title}}
			{{^title}}
				{{#text}}
					/{{text}}
				{{/text}}
				{{^text}}
					/
				{{/text}}
			{{/title}}
		</a>

		<div class="overflow-y-auto">
			<ul class="flex flex-col">
				{{#messages}}
					<li class="grow-1 max-w-full flex flex-row justify-between whitespace-nowrap first:mt-[2px] last:mb-[2px] mx-[2px]">
						{{#isCenter}}
							{{#isSelected}}
								<button type="button" class="flex flex-row justify-between overflow-hidden dark:bg-cyan-500 dark:text-white bg-gray-300 dark:hover:text-white hover:text-blue-600 cursor-pointer text-left px-2 w-full z-1" data-message-id="{{ID}}">
							{{/isSelected}}
							{{^isSelected}}
								<button type="button" class="flex flex-row justify-between overflow-hidden dark:bg-cyan-700 dark:text-white bg-blue-100 dark:hover:text-white hover:text-blue-600 cursor-pointer text-left px-2 w-full z-1" data-message-id="{{ID}}">
							{{/isSelected}}
						{{/isCenter}}
						{{^isCenter}}
							{{#isSelected}}
								<button type="button" class="flex flex-row justify-between overflow-hidden dark:bg-slate-600 dark:text-white bg-gray-300 cursor-pointer text-left px-2 w-full z-1" data-message-id="{{ID}}">
							{{/isSelected}}
							{{^isSelected}}
								<button type="button" class="flex flex-row justify-between overflow-hidden dark:hover:bg-slate-600 dark:hover:text-white hover:bg-gray-300 cursor-pointer text-left px-2 w-full z-1" data-message-id="{{ID}}">
							{{/isSelected}}
						{{/isCenter}}
								<div class="overflow-hidden text-ellipsis mr-2" data-message-id="{{ID}}">
									{{#title}}
										{{title}}
									{{/title}}
									{{^title}}
										{{text}}
									{{/title}}
								</div>
						</button>

						{{#isCenter}}
							<button type="button" class="px-2 dark:bg- bg-blue-100 dark:hover:text-white dark:bg-cyan-700 dark:text-white hover:text-blue-600 cursor-pointer text-end" data-thread-id="{{ID}}">{{count}} > </button>
						{{/isCenter}}
						{{^isCenter}}
							<button type="button" class="px-2 dark:hover:text-white hover:text-blue-600 cursor-pointer text-end" data-thread-id="{{ID}}">{{count}} > </button>
						{{/isCenter}}
					</li>
				{{/messages}}
				{{^messages}}
					{{#message}}
						<li class="text-gray-600 italic mx-[2px]">{{noMessagesText}}</li>
					{{/message}}
					{{^message}}
						<li class="text-gray-600 italic">{{newMessageText}}</li>
					{{/message}}
				{{/messages}}
			</ul>
		</div>

		<div class="flex flex-row mt-2">
			{{^isLastPage}}
				<button type="button" data-offset="{{offset}}" data-limit="{{limit}}" data-thread-id="{{ID}}" data-direction="prev" class="grow cursor-pointer dark:bg-slate-600 dark:hover:text-white bg-gray-300 ml-[2px] mr-2 last:mr-0"><-</button>
			{{/isLastPage}}

			{{^isFirstPage}}
				<button type="button" data-offset="{{offset}}" data-limit="{{limit}}" data-thread-id="{{ID}}" data-direction="next" class="grow cursor-pointer ml-[2px] dark:bg-slate-600 dark:hover:text-white bg-gray-300">-></button>
			{{/isFirstPage}}
		</div>
	</div>
{{/stack}}
{{^stack}}
	<div class="grow"></div>
{{/stack}}