<div class="flex flex-row mb-5">
	<a href="{{messagesHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer mr-2">{{messagesSection}}</a>
	/
	<a href="{{filesHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer ml-2">{{filesSection}}</a>
</div>