<form
	autocomplete="off"
	method="POST"
	enctype="multipart/form-data"
	class="w-full flex flex-row grow"
>
	<div class="flex flex-col grow">
		<input name="title" class="w-full px-1 border-1 dark:text-white border-gray-600 rounded-md resize-none large:text-lg small:text-sm large:placeholder:text-lg small:placeholder:text-sm placeholder:italic px-1 placeholder:text-gray-600 rounded-md text-lg mb-2" placeholder="{{titlePlaceholder}}"></input>
		<textarea name="text" type="input" class="w-full px-1 dark:text-white large:text-lg small:text-sm large:placeholder:text-lg small:placeholder:text-sm border-1 border-gray-600 rounded-md overflow-y-scroll wrap-break-word text-start resize-none px-1 placeholder:italic placeholder:text-gray-600 mb-2 rounded-md text-sm h-full" placeholder="{{textPlaceholder}}"></textarea>
		<input type="hidden" name="thread" value="{{thread}}" />

		<div class="flex flex-row justify-between items-end">
			<button formaction="{{sendAction}}" type="submit" class="rounded-md dark:hover:text-white border-1 px-4 border-solid text-left cursor-pointer">
				{{sendButton}}
			</button>

			<a href="{{filesListHref}}" target="_self" class="flex justify-center cursor-pointer ml-2">
				<svg class="dark:stroke-gray-400 stroke-black" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 7.90909V16C6 19.3137 8.68629 22 12 22V22C15.3137 22 18 19.3137 18 16V6C18 3.79086 16.2091 2 14 2V2C11.7909 2 10 3.79086 10 6V15.1818C10 16.2864 10.8954 17.1818 12 17.1818V17.1818C13.1046 17.1818 14 16.2864 14 15.1818V8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</div>
	</div>
</form>