<form  id="messages-search-form"  class="w-full flex flex-row" name="messages-search-form" autocomplete="off" onsubmit="return false;">
	<input required class="w-full placeholder:italic px-1 placeholder:text-gray-600 border rounded-md" id="messages-search-input" type="text" name="search" placeholder="{{searchPlaceholder}}"></input>
</form>