<form id="messages-search-form" name="messages-search-form" autocomplete="off" onsubmit="return false;" class="flex flex-row">
	<input required class="placeholder:italic px-1 placeholder:text-gray-600 border rounded-md border-black" id="messages-search-input" type="text" name="search" placeholder="{{searchPlaceholder}}"></input>
</form>