<details>
	<summary class="hover:text-blue-600 cursor-pointer">{{settingsHeader}}</summary>
	<div class="flex flex-col">
		<div id="theme-settings" class="flex flex-row mb-1">
			<span class="mr-4">{{themeHeader}}: </span>

			<button type="button" data-theme="dark" class="hover:text-blue-600 cursor-pointer mr-2">{{darkTheme}}</button>
			<button type="button" data-theme="light" class="hover:text-blue-600 cursor-pointer">{{lightTheme}}</button>
		</div>

		<div id="lang-settings" class="flex flex-row">
			<span class="mr-4">{{langHeader}}: </span>

			<button type="button" data-lang="de" class="hover:text-blue-600 cursor-pointer mr-2">{{deLang}}</button>
			<button type="button" data-lang="en" class="hover:text-blue-600 cursor-pointer mr-2">{{enLang}}</button>
			<button type="button" data-lang="fr" class="hover:text-blue-600 cursor-pointer mr-2">{{frLang}}</button>
			<button type="button" data-lang="ru" class="hover:text-blue-600 cursor-pointer">{{ruLang}}</button>
		</div>
	</div>
</details>