<form
	autocomplete="off"
	method="POST"
	enctype="multipart/form-data"
	class="flex justify-between p-2 small:p-1 small:min-h-[30px] min-h-[40px] max-h-40"
>
	<input name="file" id="files-input" class="cursor-pointer" type="file"></input>
	<button formaction={{sendAction}} type="submit" class="rounded-md dark:hover:text-white border-1 px-4 border-solid text-left cursor-pointer">
		{{sendButton}}
	</button>
</form>