<div class="w-full flex justify-center">
	<div class="large:text-md small:text-xs text-sm w-full flex justify-center">
		© 2026 Les Notes
		<ul class="ml-5 flex flex-row">
			<li class="mr-2">
				<a href="/m/terms" target="_blank" class="hover:underline dark:hover:text-white large:text-md small:text-xs text-sm">{{terms}}</a>
			</li>
			<li class="mr-2">
				<a href="/m/contact" target="_blank" class="hover:underline dark:hover:text-white large:text-md small:text-xs text-sm">{{contact}}</a>
			</li>
			<li>
				<a href="/m/docs" target="_blank" class="hover:underline dark:hover:text-white large:text-md small:text-xs text-sm">{{docs}}</a>
			</li>
		</ul>
	</div>
</div>