<div class="h-full">
	<ul class="h-full flex flex-col justify-end overflow-x-hidden max-w-full">
		{{#comments}}
			<li class="max-w-full flex flex-row justfy-between">
				{{{text}}}
			</li>
		{{/comments}}
	</ul>
</div>