<div class="flex flex-row justify-between">
	<a class="hover:underline italic hover:text-blue-600 dark:hover:text-white text-left cursor-pointer" href="/login{{query}}" target="_self">{{login}}</a>
	<button type="submit" class="border-1 px-4 border-solid text-left rounded-md cursor-pointer">{{register}}</button>
</div>
