<div class="mt-2 max-w-md min-w-3xs w-full flex flex-row justify-between px-5">
	{{> sidebar}}

	<div class="py-1">
		{{> authorization}}
	</div>
</div>

<div class="mt-2 px-5" id="telegram-login-widget">
</div>