<div class="flex flex-row mb-4 items-center">
	<a class="italic text-xl small:text-lg large:text-2xl mr-6 inline-block cursor-pointer dark:hover:text-white hover:text-blue-600" href="{{mainHref}}" target="_self">Les Notes</a>

	<div>
		{{> searchForm}}
	</div>
</div>