<div class="flex flex-col items-start">
	{{#theme}}
		<div id="theme-settings" class="flex flex-row mb-1">
			{{#themes}}
				{{#myTheme}}
					<a target="_self" href="{{> themeHref}}" class="underline cursor-pointer mr-2">{{label}}</a>
				{{/myTheme}}
				{{^myTheme}}
					<a target="_self" href="{{> themeHref}}" class="cursor-pointer mr-2">{{label}}</a>
				{{/myTheme}}
			{{/themes}}
		</div>
	{{/theme}}

	{{#lang}}
		<div id="lang-settings" class="flex flex-row mb-1">
			{{#langs}}
				{{#myLang}}
					<a target="_self" href="{{> langHref}}" class="underline cursor-pointer mr-2">{{label}}</a>
				{{/myLang}}
				{{^myLang}}
					<a target="_self" href="{{> langHref}}" class="cursor-pointer mr-2">{{label}}</a>
				{{/myLang}}
			{{/langs}}
		</div>
	{{/lang}}

	{{#font}}
		<div id="font-size-settings" class="flex flex-row">
			{{#fonts}}
				{{#myFont}}
					<a target="_self" href="{{> fontHref}}" class="{{css}} underline cursor-pointer mr-2">{{label}}</a>
				{{/myFont}}
				{{^myFont}}
					<a target="_self" href="{{> fontHref}}" class="{{css}} cursor-pointer mr-2">{{label}}</a>
				{{/myFont}}
			{{/fonts}}
		</div>
	{{/font}}
</div>