<div class="flex flex-col w-full max-w-full overflow-x-hidden h-full">
	<div id="messages-list" ondragover="event.preventDefault()" class="flex flex-col max-w-full overflow-x-auto h-full grow">
		{{> list}}
	</div>
</div>
