<ul>
	{{#path}}
		<li class="mb-2">
			<a href="{{pathThreadHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer">{{threadTitle}}</a>
		</li>
	{{/path}}
	{{#lastMessage}}
		{{#lastThreadExternal}}
			<li class="flex flex-row justify-between bg-gray-300 dark:bg-slate-600">
				<a href="{{lastThreadHref}}" target="{{lastThreadTarget}}" class="grow-1 hover:text-blue-600 flex items-center dark:hover:text-white cursor-pointer">
					{{threadTitle}}
					<div class="ml-2">↗</div>
				</a>
		{{/lastThreadExternal}}
		{{^lastThreadExternal}}
			<li class="flex flex-row justify-between">
				<a href="{{lastThreadHref}}" target="{{lastThreadTarget}}" class="grow-1 hover:text-blue-600 hover:stroke-blue-600 flex items-center dark:hover:text-white underline cursor-pointer">
					{{threadTitle}}
				</a>
		{{/lastThreadExternal}}

		</li>
	{{/lastMessage}}
</ul>