<ul>
	{{#path}}
		<li>
			<a href="{{pathThreadHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer">{{threadTitle}}</a>
		</li>
	{{/path}}
	{{#thread}}
		{{#lastThreadExternal}}
			<li class="flex flex-row justify-between bg-gray-300 dark:bg-slate-600">
				<a href="{{lastThreadHref}}" target="{{lastThreadTarget}}" class="grow-1 hover:text-blue-600 flex items-center dark:hover:text-white cursor-pointer">
					{{threadTitle}}
					<div class="ml-2">↗</div>
				</a>
		{{/lastThreadExternal}}
		{{^lastThreadExternal}}
			<li class="flex flex-row justify-between">
				<a href="{{lastThreadHref}}" target="{{lastThreadTarget}}" class="grow-1 hover:text-blue-600 hover:stroke-blue-600 flex items-center dark:hover:text-white underline cursor-pointer">
					{{threadTitle}}
				</a>
		{{/lastThreadExternal}}

			{{#editPublicThread}}
				<a href="{{editThreadHref}}" target="_self" class="px-2 italic dark:hover:text-white hover:text-blue-600 select-text cursor-pointer text-end">{{editThreadTitle}}</a>
			{{/editPublicThread}}
		</li>
	{{/thread}}
</ul>