[Unit]
Description=Gallery sessions go service
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
WorkingDirectory=/srv/gallery/stage/sessions/
ExecStart=/srv/gallery/stage/sessions/grpc /srv/gallery/stage/sessions/config/grpc.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target