[Unit]
Description=Gallery threads go service %i
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
WorkingDirectory=/srv/gallery/stage/threads
ExecStart=/srv/gallery/stage/threads/grpc ./config/%i.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target