[Unit]
Description=Gallery billing http service
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
WorkingDirectory=/srv/gallery/stage/billing/
ExecStart=/srv/gallery/stage/billing/http /srv/gallery/stage/billing/config/http.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
