[Unit]
Description=Gallery billing go service %i
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
WorkingDirectory=/srv/gallery/stage/billing
ExecStart=/srv/gallery/stage/billing/grpc ./config/%i.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
