<div class="h-full w-full flex flex-col justify-between">
	<div class="flex flex-col">
		<div class="flex flex-row mb-4">
			<a class="italic text-2xl small:text-lg large:text-3xl mr-4 inline-block cursor-pointer dark:hover:text-white hover:text-blue-600" href="/home" target="_self">Les Notes</a>
		</div>

		<div id="search" class="mb-4">
			{{> searchForm}}
		</div>

		<div id="settings">
			{{> settings}}
		</div>
	</div>

	<div class="flex flex-row">
		<a href="{{logoutHref}}" target="_self" class="hover:underline dark:hover:text-white hover:text-blue-600 dark:visited:text-gray-400 visited:text-purple-600">{{logout}}</a>
	</div>
</div>