{
  "node_name": "billing.{{ billing_port }}",
  "rpc_addr": "{{ addr }}:{{ billing_port }}",
  "serf_addr": "{{ addr }}:{{ billing_serf_port }}",
  "serf_join_addrs": ["{{ join_addr }}:{{ billing_join_port }}"],
  "users_service_addr": "{{ addr }}:{{ users_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "goose_table_name": "billing_goose_db_version",
  "raft_bootstrap": {{ raft_bootstrap | string | lower }},
  "raft_log_level": "{{ log_level }}",
  "log_level": "{{ log_level }}",
  "data_path": "../data.{{ billing_port }}",
  "pg_conn": "{{ pg_conn }}",
  "nats_addr": "{{ nats }}"
}
