{
  "node_name": "billing.{{ billing_http_port }}",
  "billing_service_addr": "{{ addr }}:{{ billing_port }}",
  "http_addr": "{{ addr }}:{{ billing_http_port }}",
  "nats_addr": "{{ nats }}",
  "pg_conn": "{{ pg_conn }}",
  "nats_stream": "gallery",
  "goose_table_name": "billing_stream_goose_db_version",
  "users_service_addr": "{{ addr }}:{{ users_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "log_level": "{{ log_level }}"
}
