[Unit]
Description=Gallery {{ item }} database
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
WorkingDirectory=/srv/gallery/stage/{{ item }}
ExecStart=/srv/gallery/stage/{{ item }}/{{ item }}_db ./config/db.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
