[Unit]
Description=Gallery {{ item }} endpoint
Wants=network.target
After=syslog.target network-online.target

[Service]
User=snd
Group=snd
EnvironmentFile=/srv/gallery/stage/{{ item }}/config/service.conf
WorkingDirectory=/srv/gallery/stage/{{ item }}
ExecStart=/srv/gallery/stage/{{ item }}/{{ item }} ./config/service.json
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
