{
    "node_name":             "{{ files_name }}",
    "rpc_addr":              "{{ addr }}:{{ rpc_port }}",
    "http_addr":             "{{ addr }}:{{ http_port }}",
    "users_service_addr":    "{{ users_addr }}:{{ users_port }}",
  "pg_conn": "{{ pg_conn }}",
    "sessions_service_addr": "{{ sessions_addr }}:{{ sessions_port }}"
}

