{
  "node_name": "{{ files_name }}:{{ rpc_port }}",
  "rpc_addr":  "{{ addr }}:{{ rpc_port }}",
  "sessions_service_addr": "{{ sessions_addr }}:{{ sessions_port }}",
  "pg_conn": "{{ pg_conn }}",
  "nats_addr": "{{ nats }}",
  "nats_stream": "gallery",
  "goose_table_name": "files_goose_db_version"
}

