{
  "node_name": "messages.http",
  "rpc_addr": "{{ addr }}:{{ messages_port }}",
  "http_addr": "{{ addr }}:{{ messages_http_port }}",
  "files_service_addr": "{{ files_addr }}:{{ files_port }}",
  "users_service_addr": "{{ addr }}:{{ users_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "threads_service_addr": "{{ addr }}:{{ threads_port }}",
  "log_level": "{{ log_level }}"
}
