{
  "node_name": "search.http",
  "search_service_addr": "{{ addr }}:{{ search_port }}",
  "http_addr": "{{ addr }}:{{ search_http_port }}",
  "nats_addr": "{{ nats }}",
  "nats_stream": "gallery",
  "users_service_addr": "{{ addr }}:{{ users_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "log_level": "{{ log_level }}"
}

