{
  "node_name": "threads.http",
  "rpc_addr": "{{ addr }}:{{ threads_port }}",
  "http_addr": "{{ addr }}:{{ threads_http_port }}",
  "nats_addr": "{{ nats }}",
  "users_service_addr": "{{ addr }}:{{ users_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "log_level": "{{ log_level }}"
}
