{
  "http_addr": "{{ addr }}:{{ users_http_port }}",
  "rpc_addr": "{{ addr }}:{{ users_port }}",
  "messages_service_addr": "{{ addr }}:{{ messages_port }}",
  "sessions_service_addr": "{{ addr }}:{{ sessions_port }}",
  "node_name": "users.http",
  "cookie_domain": "{{ domain }}"
}

