	<div class="inline-block">
	<a href="{{loginHref}}" class="hover:text-blue-600 cursor-pointer hover:underline">{{login}}</a>
	 | 
	<a href="{{signupHref}}" class="hover:text-blue-600 cursor-pointer hover:underline">{{signup}}</a>
</div>
