<div class="inline-block">
	<a onclick="window.location='login'+window.location.search;" class="hover:text-blue-600 cursor-pointer hover:underline">{{login}}</a>
	 | 
	<a onclick="window.location='signup'+window.location.search;" class="hover:text-blue-600 cursor-pointer hover:underline">{{register}}</a>
</div>
