<div class="inline-block">
	<a href="/login" class="hover:text-blue-600 cursor-pointer hover:underline">{{login}}</a>
	 | 
	<a href="/signup" class="hover:text-blue-600 cursor-pointer hover:underline">{{register}}</a>
</div>
