<div class="mt-2 max-w-md min-w-3xs w-full flex flex-row justify-between px-8">
	<a class="italic text-2xl inline-block cursor-pointer hover:text-blue-600" href="/" target="_self">Les Notes</a>

	<div class="inline-block py-1">
		<a href="/login" class="hover:text-blue-600 cursor-pointer hover:underline">{{login}}</a>
		 | 
		<a href="/signup" class="hover:text-blue-600 cursor-pointer hover:underline">{{register}}</a>
	</div>
</div>

<div class="mt-2 px-8" id="telegram-login-widget">
</div>