<div class="flex flex-row justify-between">
	<a class="underline italic text-blue-600 dark:text-gray-400 text-left cursor-pointer" href="/login{{query}}" target="_self">{{login}}</a>
	<button type="button" class="border-1 px-4 border-solid text-left rounded-md">{{register}}</button>
</div>
