<div class="flex flex-row flex-row-reverse dark:bg-slate-600 flex p-2 small:p-1 small:min-h-[30px] min-h-[40px] max-h-40 border border-solid rounded-md">
	<a href="{{newNoteHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer ml-2">{{newNoteButton}}</a>
	<a href="{{newFileHref}}" target="_self" class="hover:text-blue-600 flex items-center dark:hover:text-white underline cursor-pointer">{{newFileButton}}</a>
</div>