<div>
	<p class="text-lg mb-1">{{filesPlaceholder}}</p>
	{{^files}}
		{{^editMessage}}
			<div class="text-gray-600 italic">{{noFiles}}</div>
		{{/editMessage}}
	{{/files}}
</div>

<ul class="flex flex-col">
	{{#files}}
		<li class="grow-1 max-w-full flex flex-row justify-between whitespace-nowrap">
			<a target="_blank" href="/files/v1/{{ID}}/download" class="flex flex-row justify-between overflow-hidden cursor-pointer">{{name}}</a>
		</li>
	{{/files}}
</ul>