<div class="flex flex-row justify-between">
	<div class="flex flex-row">
		<a class="italic text-2xl mr-4 inline-block cursor-pointer underline hover:text-blue-600" href="/home" target="_self">Les Notes</a>
	</div>

	<a href="/logout" target="_self" class="underline text-blue-600 visited:text-purple-600">{{logout}}</a>
</div>