<div class="h-full">
	<div class="flex flex-col overflow-x-hidden mb-5 small:mb-3 w-full max-w-md">
		{{> header}}
	</div>

	<div class="w-full h-[300px] flex flex-row mb-5 small:mb-3">
		<div class="flex flex-col grow-2 w-full h-full">
			{{> messageHeader}}
			<div class="w-full h-full overflow-x-hidden border border-1 border-solid rounded-md">
				{{> messageEditForm}}
				{{> messageView}}
				{{> newMessageForm}}
			</div>
		</div>
	</div>

	{{#hasFeatures}}
		<div class="mb-5 h-full small:mb-3">
			{{> messageFeatures}}
		</div>
	{{/hasFeatures}}

	<div class="mb-5 small:mb-3">
		{{> messagesTree}}
	</div>

	<div class="mb-5 small:mb-3 ">
		{{> controlPanel}}
	</div>
</div>