<div class="flex flex-col">
	<div class="w-full max-w-5xl mb-3 px-5 small:px-3">
		{{> sidebar}}
	</div>

	<div class="px-5 small:px-3 mb-4 small:mb-2 max-w-5xl w-full flex flex-row">
		<div class="flex flex-col w-full">
			{{> translations}}
			<div class="small:mb-2 h-[300px] flex flex-col grow small:p-1 p-2 border border-1 border-solid rounded-md">
				{{> messageEditForm}}
				{{> messageView}}
				{{> newMessageForm}}
				{{> threadEditForm}}
				{{> threadView}}
				{{> filesList}}
				{{> pagination}}
				{{> filesForm}}
			</div>
		</div>
	</div>

	<div class="mb-3 px-5 small:px-3">
		{{> controlPanel}}
	</div>

	<div class="mb-3 px-5 small:px-3">
		{{> navigation}}
	</div>

	<div class="px-5 small:px-3">
		<div class="w-full h-full">
			<div id="messages-list" ondragover="event.preventDefault()" class="flex flex-col">
				{{> messagesStack}}
			</div>
		</div>
	</div>
</div>