{{#message}}
	<form
		id="edit-message-form"
		autocomplete="off"
		onsubmit="return false;"
		class="w-full flex flex-col grow"
	>
		<div class="flex flex-col grow">
			{{^private}}
				<div class="flex flex-row mb-2"><a class="dark:text-blue-600 whitespace-nowrap small:text-xs large:text-base italic text-blue-600 text-sm" href="/m/{{name}}" target="_blank">https://{{domain}}/m/</a><input name="name" class="w-full ml-1 px-1 border-1 border-gray-600 rounded-md placeholder:italic placeholder:text-gray-600 dark:text-white resize-none text-sm small:text-xs large:text-base placeholder:small:text-xs placeholder:large:text-base" placeholder="{{namePlaceholder}}" value="{{name}}"></input></div>
			{{/private}}
			{{#private}}
				<input name="name" type="hidden" value="{{name}}">
			{{/private}}
			<input name="id" type="hidden" value="{{ID}}">
			<input name="title" class="mb-2 w-full dark:text-white resize-none px-1 border-1 border-gray-600 rounded-md placeholder:italic placeholder:text-gray-600 rounded-md text-lg" placeholder="{{titlePlaceholder}}" value="{{title}}"></input>
			<textarea name="text" type="input" class="w-full h-full dark:text-white px-1 mb-2 border-1 rounded-md border-gray-600 resize-none overflow-y-auto wrap-break-word text-start placeholder:italic placeholder:text-gray-600 rounded-md" placeholder="{{textPlaceholder}}">{{{text}}}</textarea>

			<div class="mb-2">
				{{> filesList}}

				<input class="hidden" id="files-input" type="file" multiple></input>

				<button id="select-files-button" type="button" class="cursor-pointer">
					<svg class="dark:stroke-gray-400 dark:hover:stroke-white stroke-black" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 7.90909V16C6 19.3137 8.68629 22 12 22V22C15.3137 22 18 19.3137 18 16V6C18 3.79086 16.2091 2 14 2V2C11.7909 2 10 3.79086 10 6V15.1818C10 16.2864 10.8954 17.1818 12 17.1818V17.1818C13.1046 17.1818 14 16.2864 14 15.1818V8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</button>
			</div>
		</div>

		<div class="flex flex-col">
			<div class="flex flex-row justify-between">
				<button type="submit" class="rounded-md border-1 px-4 border-solid text-left cursor-pointer">{{updateButton}}</button>
				<a href="{{cancelEditHref}}" target="_self" class="flex justify-center border-1 px-4 border-solid rounded-md text-left cursor-pointer">{{cancelButton}}</a>
			</div>
		</div>
	</form>
{{/message}}