<form id="messages-search-form" name="messages-search-form" autocomplete="off" onsubmit="return false;" class="w-full flex flex-row">
	<input required class="w-full placeholder:italic px-1 large:placeholder:text-lg small:placeholder:text-sm placeholder:text-gray-600 border rounded-md" id="messages-search-input" type="text" name="search" placeholder="{{searchPlaceholder}}"></input>
</form>