<div id="content" class="h-full max-w-full flex flex-row">
	<div id="sidebar" class="min-w-3xs max-w-3xs ml-8">
		{{> sidebar}}
	</div>

	<div id="search-list">
		<div class="flex flex-col">
			<div id="messages-list" class="px-8">
				{{> messagesList}}
			</div>
		</div>
	</div>
</div>