<div class="w-full flex justify-center">
	<div class="text-sm w-full flex justify-center text-gray-950 dark:text-white">
		© 2025 Les Notes
		<ul class="ml-5 flex flex-row">
			<li class="mr-2">
				<a href="/m/terms" target="_blank" class="hover:underline text-gray-800 hover:text-blue-600 text-sm">{{terms}}</a>
			</li>
			<li class="mr-2">
				<a href="/m/contact" target="_blank" class="hover:underline text-gray-800 hover:text-blue-600 text-sm">{{contact}}</a>
			</li>
			<li>
				<a href="/m/docs" target="_blank" class="hover:underline text-gray-800 hover:text-blue-600 text-sm">{{docs}}</a>
			</li>
		</ul>
	</div>
</div>