<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="public/favicon.ico">
    <title>Gallery</title>
  </head>
  <body>
    <div id="app">{{{ html }}}</div>
    <script async src="{{{ script }}}"></script>
  </body>
</html>
