<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		{{#styles}}
			<style type="text/css">{{{styles}}}</style>
		{{/styles}}

		{{#manifest}}
			<link rel="manifest" href={{{.}}} />
		{{/manifest}}

		<title>Les notes</title>
	</head>
	<body>
		{{#isMobile}}
			<div data-is-mobile="{{isMobile}}" class="py-5 h-screen flex flex-col items-start relative">
		{{/isMobile}}
		{{^isMobile}}
			<div class="p-8 pt-10 h-screen flex flex-col items-start relative">
		{{/isMobile}}
			<div class="w-full grow">
				{{> content}}
			</div>

			{{> footer}}
		</div>

		{{#scripts}}
			<script type="module" src="{{{.}}}"></script>
		{{/scripts}}
	</body>
</html>
