<div>
	<form method="POST" action="/users/v1/login" name="login-form" autocomplete="off">
		<input name="name" type="text" required />
		<input name="password" type="password" required />
		<button type="submit">{{button_text}}</button>
	</form>
</div>