<div class="max-w-md min-w-3xs w-full grow">
	<a class="italic text-2xl inline-block cursor-pointer" href="/" target="_self">Les Notes</a>

	<form
		id="login-form"
		autoComplete="off"
		name="login-form"
		class="flex flex-col"
	>
		<div>
			<label htmlFor="name">{{username}}</label>
			<input
				required
				name="name"
				type="text"
				class="block w-full border-solid border-1"
			/>
		</div>
		<div class="mt-2">
			<div el="label" htmlFor="password">{{password}}</div>
			<input
				required
				name="password"
				type="password"
				class="block w-full border-solid border-1"
			/>
		</div>
	</form>

	<div class="flex flex-row justify-between mt-3">
		<a
			el="a"
			href="/signup"
			target="_self"
			class="underline italic text-blue-600 text-left cursor-pointer"
		>
			{{register}}
		</a>

		<button
			type="button"
			class="border-1 px-4 border-solid text-left cursor-pointer"
		>{{login}}</button>
	</div>
</div>

<div id="telegram-login-widget">
</div>