<div class="max-w-md min-w-3xs w-full flex flex-row justify-between">
	<a class="italic text-2xl inline-block cursor-pointer" href="/" target="_self">Les Notes</a>

	<div class="inline-block py-1">
		<a href="/login" class="underline">{{login}}</a>
		 | 
		<a href="/signup" class="underline">{{register}}</a>
	</div>
</div>

<div id="telegram-login-widget">
</div>