<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{#styles}}
			<link rel="stylesheet" href="{{{.}}}">
		{{/styles}}
		{{#manifest}}
			<link rel="manifest" href={{{.}}} />
		{{/manifest}}
		<title>Les notes</title>
	</head>
	<body>
		<div class="p-8 pt-10 h-screen flex flex-col items-start relative">
			<div class="w-full grow">
				<div class="max-w-md min-w-3xs w-full flex flex-row justify-between">
					<div el="a" class="italic text-2xl inline-block cursor-pointer" href="/" target="_self">Les Notes</div>

					<div class="inline-block py-1">
						<div el="a" href="/login" class="underline">{{login}}</div>
						<span> | </span>
						<div el="a" href="/signup" class="underline">{{register}}</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	{{#scripts}}
		<script async type="module" src="{{{.}}}"></script>
	{{/scripts}}
</html>
