<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<style type="text/css">{{{styles}}}</style>
		<title>Les notes</title>
	</head>
	<body data-id="{{id}}" data-user-id="{{user}}">
		<div class="whitespace-pre">{{message.text}}</div>

		{{#files}}
			<a class="underline text-blue-600 visited:text-purple-600" href="/files/v1/{{ID}}/download" target="_blank" download="{{name}}">{{name}}</a>
		{{/files}}
	</body>
</html>
