<div id="messages-list" class="grow">
	<ul class="flex flex-col">
		{{#messages}}
			<li class="mb-2 grow-1 max-w-full flex flex-row justify-between whitespace-nowrap">
				<button type="button" class="flex flex-row justify-between overflow-hidden bg-gray-300 hover:bg-gray-500 hover:text-white cursor-pointer text-left px-2 w-full" data-message-id="{{ID}}">
					<div class="overflow-hidden text-ellipsis mr-2" data-message-id="{{ID}}">
						{{#title}}
							{{title}}
						{{/title}}
						{{^title}}
							{{text}}
						{{/title}}
					</div>

					<div data-message-id="{{ID}}" class="italic">{ {{count}} }</div>
				</button>

				<button type="button" class="bg-gray-300 hover:bg-gray-500 hover:text-white cursor-pointer px-2 ml-2" data-thread-id="{{ID}}"> > </button>
			</li>
		{{/messages}}
		{{^messages}}
			{{^message}}
				<li class="text-gray-600 italic">{{newMessageText}}</li>
			{{/message}}
		{{/messages}}
	</ul>
</div>