<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<script src="https://telegram.org/js/telegram-web-app.js?57"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{#styles}}
			<link rel="stylesheet" href="{{.}}">
		{{/styles}}
		{{#manifest}}
			<link rel="manifest" href={{.}} />
		{{/manifest}}
		<title>Les notes</title>
	</head>
	<body data-browser="{{browser}}" data-mobile="{{mobile}}">
		<div id="app"></div>
		<script type="module" src="{{{ script }}}"></script>
	</body>
</html>
