<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{#styles}}
			<link rel="stylesheet" href="{{.}}">
		{{/styles}}
		<title>Les notes</title>
	</head>
	<body>
		<div>
			<form id="new_message" name="new_message" action="" type="multipart/form-data" autocomplete="off" onsubmit="return false;">
				<div class="flex flex-col">
					<label for="text">Text:</label>
					<input type="text" name="text">

					<label for="file">File:</label>
					<input type="file" name="file">
				</div>

				<button type="submit">Send</button>
			</form>
		</div>
	</body>

	{{#scripts}}
		<script async src="{{{.}}}"></script>
	{{/scripts}}
</html>
