<div class="max-w-md min-w-3xs w-full grow">
	<a class="italic text-2xl inline-block cursor-pointer" href="/" target="_self">Les Notes</a>

	<div>
		<form id="register-form" autoComplete="off" name="register-form" class="flex flex-col">
			<div>
				<label htmlFor="name">{{username}}</label>
				<input required el="input" class="block w-full border-solid border-1" name="name" type="text"/>
			</div>

			<div class="mt-2">
				<label htmlFor="password">{{password}}</label>
				<input required el="input" class="block w-full border-solid border-1" name="password" type="password" />
			</div>
		</form>

		<div class="flex flex-row justify-between mt-3">
			<a class="underline italic text-blue-600 text-left cursor-pointer" href="/login" target="_self">{{login}}</a>
			<button type="button" class="border-1 px-4 border-solid text-left cursor-pointer">{{register}}</button>
		</div>
	</div>
</div>

<div id="telegram-login-widget">
</div>