<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{#styles}}
			<link rel="stylesheet" href="{{.}}">
		{{/styles}}
		<title>Les notes TG Auth</title>
	</head>
	<body>
		{{#token}}
			<div>{{token}}</div>
		{{/token}}
		{{#error}}
			<div>{{error}}</div>
			<div>{{explain}}</div>
		{{/error}}
	</body>
</html>
